<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fish Tank Parameters</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <div class="navbar">
      <a href="/"><h1>Tank Keeper</h1></a>
      {{#unless loggedIn}}
      <a href="/myParameters"><button id="profile">My Profile</button></a>
      {{else}}
      <a href="/login"><button id="logButton" class="navBtn">login</button></a>
      <a href="/signup"><button id="signupButton" class="navBtn">signup</button></a>
      {{/unless}}
    </div>
  </header>
    {{{body}}}
  <script src="/js/homepage.js"></script>
</body>
</html>