<section class="parameters" id="parentParameters">
  <div class="parameterSubgrid">
    {{#each parameters}}
    <div class="parameterList">
      <div class="parameter">{{this.parameter}}</div>
      <div class="description">{{this.description}}</div>
    </div>
    {{/each}}
  </div>
</section>