@import url('https://fonts.googleapis.com/css2?family=Lora&family=Luxurious+Roman&display=swap');


* {
    color: rgba(15, 189, 189, 50);
    --background: #000;
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
  font-family: 'Lora', serif;

}

html {
    color: var(--text);
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/hammer-coral-photo-1.jpg");
    background-size: cover;
    background-position: center;
}

.parameter {
    color: green;
    font-size: 1.5rem;
}

.description {
    color: blueviolet;
    font-size: 1rem;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background);
    opacity: 80%;
    padding: 2rem 3rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-size: 20px;
}

.navbar > h1 {
    font-size: 3rem;
}

.navbar > button {
    font-size: .9rem;
    font-weight: 700;
    padding: .3rem .6rem;
    color: black;
    text-decoration: none;
    transition: background-color, 1s;
    cursor: pointer;
}

button:hover {
    color: green;
    background-color: black;
}

#searchParent {
    text-align: center;
    padding: 2rem;
}

#searchParent > h1 {
    color: rgb(235, 235, 235);
}

#parentParameters {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem 0rem;
    background-color: var(--background);
    border-radius: 1rem;
    margin: 0 30rem;
    opacity: 80%;
}

.parameterList {
    padding-left: 3rem;
}

.parameterSubgrid {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    row-gap: 1rem;
}

.inputSubgrid {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    row-gap: 3rem;
    justify-items: flex-end;
    padding: 2rem;
}