* {
    color: rgba(15, 189, 189, 50);
    --background: rgba (0,0,0,.8);
}

 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background);
    padding: 2rem;
    position: relative;
    border-top: 20px;
    font-weight: 300;
    font-size: 20px;
}

.navbar > a {
    text-decoration: none;

}

.check:hover {
    color: antiquewhite;
}

body {
    position: relative;
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    background-image: url("./hammer-coral-photo-1.jpg");
    background-size: cover;
    background-position: center;
}

.parameters {
    width: 40%;
    display: inline-block;
}

body li {
    color: green;
    padding: 8px 0 0 0;
}

body p {
    color: blueviolet;
    padding: 2px 5px 0 0;
}

.inputs {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}

footer {
    box-sizing: border-box;
    padding: 30px;
}

footer h3 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}